# ==========================================
# CONFIGURAÇÕES DE BANCO DE DADOS
# ==========================================

# Tipo do banco de dados utilizado na aplicação (ex: postgres, mysql, mariadb)
DB_TYPE=

# Endereço onde o banco de dados está rodando (ex: localhost, 127.0.0.1, ou URL do servidor)
DB_HOST=

# Porta de conexão do banco de dados (ex: 5432 para PostgreSQL, 3306 para MySQL)
DB_PORT=

# Nome de usuário para autenticação no banco de dados
DB_USERNAME=

# Senha do usuário do banco de dados
DB_PASSWORD=

# Nome do banco de dados específico da aplicação
DB_DATABASE=

# ==========================================
# CONFIGURAÇÕES DO TYPEORM NO NESTJS
# ==========================================

# Define se as entidades devem ser carregadas automaticamente pelos Feature Modules (true ou false)
DB_AUTO_LOAD=

# Sincroniza a estrutura do banco de dados com as entidades do código automaticamente (NÃO usar true em produção)
DB_SYNCHRONIZE=

# ==========================================
# CONFIGURAÇÕES DE AUTENTICAÇÃO (JWT)
# ==========================================

# Tempo de validade do token (Time To Live). Ex: 3600 (em segundos), "15m", "1h", "7d"
JWT_TTL=

# Emissor do token (Issuer). Identifica a aplicação ou serviço responsável por gerar o token
JWT_TOKEN_ISSUE=

# Público-alvo do token (Audience). Identifica o destinatário ou a aplicação que irá consumir o token
JWT_TOKEN_AUDIENCE=

# Chave secreta utilizada para assinar e validar os tokens JWT (deve ser longa, complexa e mantida em sigilo)
JWT_SECRET_KEY=